.app-section {
  padding: 20px;
}

.app-container {
  max-width: 800px;
  margin-left: 10px;
  margin-right: auto;
  border: 1px solid black;
  text-align: center;
  background-color: antiquewhite;
}
