.app-section {
  padding: 20px;
}

.app-container {
  max-width: 800px;
  margin-left: 10px;
  margin-right: auto;
  border: 1px solid black;
  text-align: center;
  background-color: antiquewhite;
}

.btn-login {
  background-color: #555555;
  color: white;
  padding: 4px 10px;
  border: none;
}

.btn-logout {
  background-color: #f87474;
  color: white;
  padding: 4px 10px;
  border: none;
}
